<form class="row g-2 add_items">
  <div class="col-8 col-md-10 col-lg-3 offset-lg-4 ">
    <input id="itemadd" class="form-control" placeholder="Produktname eingeben" type="text" list="itemList" #newItem
           autocomplete="off"/>
    <datalist id="itemList">
      <option *ngFor="let item of items" [value]="item.name"></option>
    </datalist>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="addItem()">Hinzufügen</button>
  </div>
</form>

<div class="row field">
  <div class="item col-lg-8 col-md-10 offset-md-1 offset-lg-2" *ngFor="let item of shoppingItems"
       (click)="toggleDeleted(item)" [ngClass]="getClassDeleted(item)">
    <fa-icon [icon]="getIcon(item)"></fa-icon>
    <span class="item-text">{{item.item_name}}</span>
  </div>
  <span class="col-md-10 offset-md-3 col-lg-2 offset-lg-5" *ngIf="(shoppingItems.length === 0)">
    Du musst nichts einkaufen.
  </span>
</div>


<div class="row g-2 footer">
  <div class="col-auto offset-lg-2 offset-md-1">
    <button class="btn btn-sm btn-success bought" (click)="removeDeleted()">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span>Alles eingekauft</span>
    </button>
  </div>
  <div class="col-auto offset-2 offset-md-5 offset-lg-4">
    <button class="btn btn-sm btn-primary" (click)="reloadShoppingList()">
      <fa-icon [icon]="faArrowsRotate"></fa-icon>
      <span>Aktualisieren</span>
    </button>
  </div>
</div>
