<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <fa-icon [icon]="faBasketShopping"></fa-icon> Einkaufsliste</a>
    <button #navbarToggler class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <hr />
        <li class="nav-item">
          <fa-icon [icon]="faBasketShopping"></fa-icon> <a class="nav-link" (click)="collapseNav()" routerLink="list" routerLinkActive="active">Einkaufsliste</a>
        </li>
        <hr />
        <li class="nav-item">
          <fa-icon [icon]="faEraser"></fa-icon> <a class="nav-link"  (click)="collapseNav()" routerLink="suggestions" routerLinkActive="active">Vorschläge löschen</a>
        </li>
        <hr *ngIf="isPdf"/>
        <li class="nav-item" *ngIf="isPdf">
          <fa-icon [icon]="faFilePdf"></fa-icon> <a class="nav-link" (click)="collapseNav()" routerLink="kochbuch" routerLinkActive="active">Online Kochbuch</a>
        </li>
        <hr *ngIf="isPdf"/>
        <li class="nav-item" *ngIf="isPdf">
          <fa-icon [icon]="faFileArrowDown"></fa-icon> <a class="nav-link" (click)="collapseNav()" href="assets/cookbook.pdf" routerLinkActive="active">Download Kochbuch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
